<!--
       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444
-->
<style>
  html, body {
    font-size: 1em;
    text-align: left;
    font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
  }

  html, body, h1, h2 {
    margin: 0;
    padding: 0
  }

  .container {
    padding: 0 2%;
    margin: 0 auto;
  }

</style>

<div class="container">
  <h1>
    Not found =/
  </h1>
  <h2>
    <% if (typeof data !== 'undefined') { %>
    <%= data %>
    <% } else { %>
    The endpoint you were trying to reach doesn't exist.
    <% } %>
  </h2>
</div>
