<style>
  html, body {
    text-align: left;
    font-size: 1.5em;
    font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
  }

  .container {
    padding: 0 2%;
    margin: 0 auto;
  }
</style>
<div class="container">
  Server running!
</div>
